.verifyNum {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 14px;
    color: #006699;
}
.loginButton {
    padding-top: 20px;
    display: block;
    float: right;
    padding-right: 20px;
    font-size: 14px;
    color: #006699;
}